<form
  class="flex items-start gap-x-2"
  (submit)="add($event)"
>
  <mat-form-field
    class="flex-auto"
    subscriptSizing="dynamic"
  >
    <mat-label>Add {{ kind() }} category</mat-label>
    <input
      [id]="'add-' + kind() + '-category'"
      matInput
      [formField]="addForm.name"
    />
    <mat-error>
      @if (addForm.name().touched() && addForm.name().invalid()) {
        @for (error of addForm.name().errors(); track error) {
          {{ error.message }}
        }
      }
    </mat-error>
  </mat-form-field>

  <button
    matIconButton
    type="submit"
    class="mt-1 shrink-0"
    [attr.aria-label]="'Add ' + kind() + ' category'"
    [disabled]="addForm().invalid() || submitting()"
  >
    <mat-icon svgIcon="plus" />
  </button>
</form>
